html {
  overflow: hidden;
}

body {
  font-family: 'Roboto', arial, sans-serif;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  cursor: default;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
}

#loading-overlay {
  display: table;
}

#loading-overlay p {
  height: 100%;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  font-size: 30pt;
}

#login-overlay {
  display: none;
}

#email-box {
  height: 100%;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

#login-overlay p {
  font-size: 20pt;
}

.overlay {
  background: #ffffff;
  width: 100%;
  height: 100%;
}

#album-art {
  background-image: url('../img/default_album.png');
  background-size: 100%;
  background-position: center center;
}

#main {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  display: none;
}

#artist a {
  outline: none;
  text-decoration: none;
}

#top-bar {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 7pt 1em;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

#current-time {
  float: left;
  color: #ffffff;
  margin-top: -2em;
  margin-left: 1em;
  text-shadow: 1px 1px #222;
}

#total-time {
  float: right;
  color: #ffffff;
  margin-top: -2em;
  margin-right: 1em;
  text-shadow: 1px 1px #222;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

#bottom-bar {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

#fade {
  position: absolute;
  width: 30px;
  right: 0;
  height: 100%;
  background-image: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%,#fff 30px, #fff 100%);
}

#title {
  color: #333;
  font-size: 16pt;
  font-weight: 300;
  overflow: hidden;
  height: 20pt;
  width: 90%;
}

#equalizer {
  background: no-repeat url(../img/eq-paused.png);
  background-size: 40 40;
  width: 48px;
  height: 48px;
  opacity: 0.8;
  margin: -10 -25 0 -10;
  float: left;
}

.equalizer-checked {
  background: no-repeat url(../img/eq-play.gif)!important;
  background-size: 40 40!important;
}

/*#lastfm-toggle {
  background: no-repeat url(../img/lastfm.png);
  background-size: 40 40;
  width: 48px;
  height: 48px;
  opacity: 0.8;
  float: left;
  margin-top: -8px;
}

.lastfm-checked {
  opacity: 0.5!important;
}*/

#artist {
  font-size: 12pt;
  font-weight: 300;
  color: #aaa;
  overflow: hidden;
  width: 90%;
  height: 17pt;
}

.control {
  outline: none;
  border: none;
  opacity: 0.8;
  margin-top: 3px;
  transition: background-color 0.218s;
  background: no-repeat url(../img/sprites.png);
  background-size: 766px 53px;
}

.control:hover {
  background-color: #e8e8e8!important;
  opacity: 1;
}

.control:active {
  background-color: #d5d5d5!important;
  opacity: 1;
}

#setting {
  background: no-repeat url(../img/sprites.png) -742px 0px;
  background-size: 766px 53px;
  outline: none;
  border: none;
  width: 1.5em;
  height: 100%;
  transition: background-color 0.218s;
  position: absolute;
  top: 0;
  right: 2em;
  margin-top: 0;
}

.control[disabled] {
  opacity: 0.2 !important;
  background-color: transparent !important;
}

#up.control[disabled] {
  display: none;
  background-color: transparent !important;
}

#down.control[disabled] {
  display: none;
  background-color: transparent !important;
}

.large {
  width: 62px;
  height: 53px;
}

.medium {
  width: 53px;
  height: 53px;
}

.thumb {
  opacity: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

#repeat.control {
  background-position: 0 0;
}

#repeat.control-list {
  background-position: -53px 0;
}

#repeat.control-single {
  background-position: -106px 0;
}

#shuffle.control {
  background-position: -159px 0;
}

#shuffle.control-checked {
  background-position: -212px 0;
}

#rew.control {
  background-position: -265px 0;
}

#play.control {
  background-position: -327px 0;
}

#play.control-checked {
  background-position: -389px 0;
}

#ff.control {
  background-position: -451px 0;
}

#down.control {
  background-position: -513px 0;
}

#down.control-checked {
  background-position: -566px 0;
}

#up.control {
  background-position: -619px 0;
}

#up.control-checked {
  background-position: -672px 0;
}

#time {
  font-size: 0.75em;
  line-height: 20px;
  color: #7f7f7f;
  text-align: right;
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

#played-slider {
  background-color: #fd8500;
  width: 0px;
  height: 3pt;
}

#slider {
  outline: none;
  height: 3pt;
  position: absolute;
  z-index: 1000;
  padding: 7pt 0 7pt 0;
  margin-top: -7pt;
  cursor: pointer;
  width: 100%;
}

#slider[disabled] {
  cursor: default;
}

#slider-background {
  background-color: #eaeaea;
  height: 3pt;
  width: 100%;
}

#slider-thumb {
  width: 13pt;
  height: 13pt;
  margin-top: -8pt;
  position: relative;
  border-radius: 50%;
  background-color: #fd8500;
}

#slider-thumb[disabled] {
  display: none;
}

#menu {
  display: none;
  float: right;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, .4);
  background: white;
  padding: 0.5em 0;
  margin: 0;
  z-index: 3;
  position: relative;
  right: 0.5em;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.menuitem {
  display: block;
  margin: 0;
  padding: 0 1.5em 0 1em;
  text-align: start;
  width: 100%;
  background: white;
  border: 0;
  color: black;
  line-height: 23pt;
  font-size: 10pt;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 400;
  transition: background-color 0.218s;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.menuitem:hover {
  background-color: #e8e8e8;
}

.menuseparator {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  border-top: 1px solid #c0c0c0;
  width: 110%;
}
